.resourceButton,
.resourceButton:hover,
.resourceButton:active,
.resourceButton:visited {
	color : #FFFFFF;
}

.resourceButton {
	background-color : rgb(0, 0, 145);
	border           : none;
	font-size        : 14px;
	padding          : 10px;
	text-align       : center;
	text-decoration  : none;
}

.resourceButton:hover {
	background-color : rgb(0, 0, 110);
}

.resourceButton img {
	vertical-align: text-bottom;
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

.resourceButton.big {
	font-size : 20px;
	padding   : 15px;
}

.resourceButton.big img {
	width: 25px;
	height: 25px;
}

.arrowedText a,
.arrowedText a:visited,
.arrowedText a:active {
	color: black;
}